mixin header--full-width-height(data)
    <!-- HEADER FULL WIDTH HEIGHT -->
    table(width="100%" border="0" cellspacing="0" cellpadding="0" class="table-wrapper" bgcolor=`${data.bgcolor}`)
        tr
            td(align="center" valign="top" class="td-padding-outer" style="padding:0 0 0 0;")
                table(width="600" border="0" cellspacing="0" cellpadding="0" class="table-full" bgcolor=`${data.bgcolor}`)
                    tr
                        td(align="left" valign="top" class="td-center")
                            table(width="100%" border="0" cellspacing="0" cellpadding="0" class="table-full" bgcolor=`${data.bgcolor}`)
                                tr
                                    td(align="center" valign="top")
                                        a(href=`${data.link}` name=`img_${data.img}` target="_blank" xt="SPCLICKSTREAM"  style="font-size: 0; line-height: 0; padding: 0;")
                                            img(src=`img/${data.img}.jpg` width="600" height="328" alt=`${data.img}`  border="0" class="img-full" style="display: block;")