mixin promo-G-IR_TitleL_MobileBottom(data) 
    <!-- PROMO BLOK -->
    table(width="100%" border="0" cellspacing="0" cellpadding="0" class="table-wrapper" bgcolor="#FFFFFF")
        tr
            td(align="center" valign="top" class="td-padding-outer" style="padding:0 0 50px 0;")
                table(width="600" border="0" cellspacing="0" cellpadding="0" class="table-full" bgcolor=`${data.bgcolor}`)
                    tr
                        td(align="left" valign="top")
                            table(width="49%" height="300" align="left" border="0" cellspacing="0" cellpadding="0" class="table-full h-100" bgcolor=`${data.bgcolor}`)
                                tr
                                    td(align="center" valign="middle" style="padding:20px 25px 0 25px;")
                                        table(width="100%" border="0" cellspacing="0" cellpadding="0" class="table-full")
                                            tr
                                                td(align="center" valign="top" class="pt-25" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; color: #FFFFFF; font-size: 26px; line-height: 30px; text-decoration: none; padding-bottom: 25px;")=!data.cta
                                tr
                                    td(align="center" valign="middle" class="pb-30 pt-10" style="padding: 0 0 20px 0;")
                                        table(border="0" cellspacing="0" cellpadding="0")
                                            tr
                                                td(align="center" valign="middle" width="16" style="padding-right:10px;")
                                                    img(src="https://www.collishop.be/ecomwcs/static/StaticWeb/CS/mailbanners/images/arrow.png" alt="pijl" width="16" height="16"  border="0" style="display:block;")
                                                td(align="center" valign="middle" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:14px; line-height:22px; color:#FFFFFF; display: inline")
                                                    a(href=`${data.link}` name=`img_${data.img}` target="_blank" xt="SPCLICKSTREAM" style="color:#FFFFFF; text-decoration:none;")=!data.cta
                            table(width="47%" height="300" align="right" border="0" cellspacing="0" cellpadding="0" class="table-full h-100")
                                tr
                                    td(align="right" valign="top" width="100%")
                                        a(href=`${data.link}` name=`img_${data.img}` target="_blank" xt="SPCLICKSTREAM")
                                            img(src=`img/${data.img}.jpg` width="298" height="300" alt=`${data.img}` border="0" class="img-full" style="display:block;")
    <!-- PROMO BLOK -->