mixin promo-A-IL-TextR_MobileBottom(data)
    <!-- PROMO BLOK -->
    table(width="100%" border="0" cellspacing="0" cellpadding="0" class="table-wrapper" bgcolor="#FFFFFF")
        tr
            td(align="center" valign="top" class="td-padding-outer" style="padding:0 0 50px 0;")
                table(width="600" border="0" cellspacing="0" cellpadding="0" class="table-full" bgcolor=`${data.bgcolor}`)
                    tr
                        td(align="left" valign="top")
                            table(width="49%" height="300" align="right" border="0" cellspacing="0" cellpadding="0" class="table-full h-100" bgcolor=`${data.bgcolor}`)
                                tr
                                    td(align="center" valign="middle" style="padding:20px 25px 0 25px;")
                                        table(width="100%" border="0" cellspacing="0" cellpadding="0" class="table-full")
                                            tr
                                                td(align="center" valign="top" class="pt-25" style="font-family: Titillium Web,Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; color: #333333; font-size: 24px; line-height: 30px; text-decoration: none; padding-bottom: 25px;")=data.title
                                            tr
                                                td(align="center" valign="top" style="font-family: Titillium Web,Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; color: #333333; font-size: 20px; line-height: 29px; text-decoration: none; padding-bottom: 25px;")=data.subtitle
                                tr   
                                    td(align="center" valign="middle" class="pb-30 pt-10" style="padding: 0 0 20px 0;")
                                        table(border="0" cellspacing="0" cellpadding="0")
                                            tr
                                                td(align="center" valign="middle" width="16" style="padding-right:10px;")
                                                    a(href=`${data.link}` name=`btn_${data.img}` target="_blank" xt="SPCLICKSTREAM" style="color:#0098DA; text-decoration:none;")    
                                                        img(src="https://www.collishop.be/ecomwcs/static/StaticWeb/CS/mailbanners/images/arrow.png" alt="pijl" width="16" height="16"  border="0" style="display:block;")
                                                td(align="center" valign="middle" style="font-family: Titillium Web,Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:14px; line-height:22px; color:#333333; display: inline")
                                                    a(href=`${data.link}` name=`text_${data.img}` target="_blank" xt="SPCLICKSTREAM" style="color:#333333; text-decoration:none;")=data.cta
                            table(width="49%" height="300" align="left" border="0" cellspacing="0" cellpadding="0" class="table-full h-100")
                                tr
                                    td(align="right" valign="top" width="100%")
                                        a(href=`${data.link}` name=`img_${data.img}` target="_blank" xt="SPCLICKSTREAM")
                                            img(src=`img/${data.img}.jpg` width="300" height="300" alt=`${data.img}` border="0" class="img-full" style="display:block;") 
    <!-- PROMO BLOK -->