mixin inspo-F-IL_TextR_Border_MobileTop(data)
    <!-- PROMO BLOK -->
    table(width="100%" border="0" cellspacing="0" cellpadding="0" class="table-wrapper" bgcolor="#FFFFFF")
    tr
        td(align="center" valign="top" class="td-padding-outer" style="padding:0 0 50px 0;")
            table(width="600" border="0" cellspacing="0" cellpadding="0" class="table-full" bgcolor="#FFFFFF" style="border: 4px solid #EEEEEE")
                tr
                    td(align="left" valign="top" style="padding: 20px 25px 20px 25px;")
                        table(width="49%" align="left" border="0" cellspacing="0" cellpadding="0" class="table-full")
                            tr
                                td(align="left" valign="top")
                                    a(href=`${data.link}` name=`img_${data.img}` target="_blank" xt="SPCLICKSTREAM")
                                        img(src=`img/${data.img}.jpg` alt=`${data.img}` width="250" height="250" border="0" class="img-full" style="display:block;")
                        table(width="49%" align="right" border="0" cellspacing="0" cellpadding="0" class="table-full" bgcolor="#FFFFFF")
                            tr
                                td(align="center" valign="top" style="padding:0 0 0 0;")
                                    table(width="100%" border="0" cellspacing="0" cellpadding="0" class="table-full")
                                        tr
                                            td(align="left" valign="top" class="pt-25" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; color: #000000; font-size: 20px; line-height: 23px; text-decoration: none; padding-bottom: 8px;")=data.title
                                        tr
                                            td(align="left" valign="top" class="pt-25" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; color: #000000; font-size: 16px; line-height: 22px; text-decoration: none;")=data.subTitle
                            tr
                                td(align="left" valign="top" class="pb-0 pt-25" style="padding:0 0 0 0;")
                                    table(border="0" cellspacing="0" cellpadding="0")
                                        tr
                                            td(align="left" valign="middle" width="16" style="padding-right:10px;")
                                                img(src="https://www.collishop.be/ecomwcs/static/StaticWeb/CS/mailbanners/images/arrow.png" alt="pijl" width="16" height="16" border="0" style="display:block;")
                                            td(align="center" valign="middle" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:14px; line-height:22px; color:#0098DA; display: inline")
                                                a(href=`${data.link}` name=`img_${data.img}` target="_blank" xt="SPCLICKSTREAM" style="color:#0098DA; text-decoration:none;")=data.cta
    <!-- PROMO BLOK -->