mixin promo-4prod(data)   
    - var escTitle = data.title
    - var escTitle2 = data.title2
    - var escTitle3 = data.title3
    - var escTitle4 = data.title4
    table(width="100%" border="0" cellspacing="0" cellpadding="0" class="table-wrapper" bgcolor="#FFFFFF")
        tr
            td(align="center" valign="top" class="td-padding-outer")
                table(width="600" border="0" cellspacing="0" cellpadding="0" class="table-full" bgcolor="#FFFFFF")
                    tr
                        td(align="left" valign="top" class="td-padding-inner" style="padding:0px 0px 35px 0px;")
                            table(width="100%" border="0" cellspacing="0" cellpadding="0")
                                tr
                                    td(align="left" valign="top" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:20px; line-height:30px; color:#000000; font-weight:bold; padding-bottom:10px;")=data.blockTitle
                            table(width="100%" border="0" cellspacing="0" cellpadding="0")
                                tr
                                    td(align="left" valign="top")
                                        table(align="left" width="300" border="0" cellspacing="0" cellpadding="0" class="table-full")
                                            tr
                                                td(align="left" valign="top")
                                                    table(width="140" border="0" cellspacing="0" cellpadding="0" class="w-98")
                                                        tr
                                                            td(align="center" valign="top" style="border: 2px solid #F3F3F3;")
                                                                a(href=`${data.link}` name=`img_${data.img}` target="_blank" xt="SPCLICKSTREAM")
                                                                    img(src=src=`img/${data.img}.jpg` width="133" height="123" alt=`${data.img}` border="0" class="img-full" style="display:block;")
                                                        tr
                                                            td(align="center" valign="top" style="padding:5px 25px 7px 0;" height="15px")
                                                                table(align="left" border="0" cellspacing="0" cellpadding="0")
                                                                    tr
                                                                        - var stars= data.sterren
                                                                            - for (i = 0.5; i <= stars; stars--) 
                                                                                td(width="15" align="left" valign="top" style="padding-right:3px;")
                                                                                    a(href=`${data.link}` name=`star_${data.img}` target="_blank" xt="SPCLICKSTREAM")
                                                                                        img(src="img/vast/star.png" alt="star" style="display:block; border:none; outline:none; text-decoration:none; width: 15px;")
                                                                                if stars === 1.5
                                                                                    -  stars = 0
                                                                                    td(width="15" align="left" valign="top" style="padding-right:3px;")
                                                                                        a(href=`${data.link}` name=`star_${data.img}` target="_blank" xt="SPCLICKSTREAM")
                                                                                        img(src="img/vast/half-star.png" alt="star" style="display:block; border:none; outline:none; text-decoration:none; width: 15px;")
                                                                        -var greyStars= 5-data.sterren
                                                                            case greyStars
                                                                                when 2.5
                                                                                    td(width="15" align="left" valign="top" style="padding-right:3px;")
                                                                                        a(href=`${data.link}` name=`star_${data.img}` target="_blank" xt="SPCLICKSTREAM")
                                                                                            img(src="img/vast/grey-star.png" alt="star" style="display:block; border:none; outline:none; text-decoration:none; width: 15px;")
                                                                                    td(width="15" align="left" valign="top" style="padding-right:3px;")
                                                                                        a(href=`${data.link}` name=`star_${data.img}` target="_blank" xt="SPCLICKSTREAM")
                                                                                            img(src="img/vast/grey-star.png" alt="star" style="display:block; border:none; outline:none; text-decoration:none; width: 15px;")
                                                                                when 1.5
                                                                                  td(width="15" align="left" valign="top" style="padding-right:3px;")
                                                                                        a(href=`${data.link}` name=`star_${data.img}` target="_blank" xt="SPCLICKSTREAM")
                                                                                        img(src="img/vast/grey-star.png" alt="star" style="display:block; border:none; outline:none; text-decoration:none; width: 15px;")
                                                                                when 1
                                                                                  td(width="15" align="left" valign="top" style="padding-right:3px;")
                                                                                        a(href=`${data.link}` name=`star_${data.img}` target="_blank" xt="SPCLICKSTREAM")
                                                                                        img(src="img/vast/grey-star.png" alt="star" style="display:block; border:none; outline:none; text-decoration:none; width: 15px;")
                                                                                default
                                                                                    span
                                                                            
                                                        tr
                                                            td(align="left" valign="top" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:13px; line-height:17px; font-weight:bold; color:#0098DA; padding:0 0 5px 0; width: 135px;")
                                                                a(href=`${data.link}` name=`text_${data.img}` target="_blank" xt="SPCLICKSTREAM" style="color:#0098DA; text-decoration:none;") !{escTitle}
                                                        tr
                                                            td(align="left" valign="top" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:20px; line-height:23px; font-weight:bold; color:#0098DA; padding:0px 0 20px 0;")
                                                                table(border="0" cellspacing="0" cellpadding="0" width="100%")
                                                                    tr
                                                                        td(align="left" valign="top" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:16px; line-height:23px; font-weight:bold; color:#0098DA;")
                                                                            a(href=`${data.link}` name=`text_${data.img}` target="_blank" xt="SPCLICKSTREAM" style="color:#000000; text-decoration:none;")
                                                                                span(style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-weight: bold; font-size: 13px; line-height: 19px; color: #999898; text-decoration: line-through; text-decoration: line-through;")=data.oldprice
                                                                                span(style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-weight: bold; font-size: 13px; line-height: 19px; color: #D20000; text-decoration: line-through;  text-decoration: none; margin-left: 5px;")=data.percentage
                                                                    tr    
                                                                        td(align="left" valign="top" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:16px; line-height:23px; font-weight:bold; color:#0098DA;")
                                                                            a(href=`${data.link}` name=`text_${data.img}` target="_blank" xt="SPCLICKSTREAM" style="color:#000000; text-decoration:none;")=data.price
                                                                                 
                                                td(align="left" valign="top" class="td-right")
                                                    table(width="140" border="0" cellspacing="0" cellpadding="0" class="w-98")
                                                        tr
                                                            td(align="center" valign="top" style="border: 2px solid #F3F3F3;")
                                                                a(href=`${data.link2}` name=`img_${data.img2}` target="_blank" xt="SPCLICKSTREAM")
                                                                    img(src=src=`img/${data.img2}.jpg` width="133" height="123" alt=`${data.img}` border="0" class="img-full" style="display:block;")
                                                        tr
                                                            td(align="center" valign="top" style="padding:5px 25px 7px 0;" height="15px")
                                                                table(align="left" border="0" cellspacing="0" cellpadding="0")
                                                                    tr
                                                                        - var stars= data.sterren2
                                                                            - for (i = 0.5; i <= stars; stars--) 
                                                                                td(width="15" align="left" valign="top" style="padding-right:3px;")
                                                                                    a(href=`${data.link2}` name=`star_${data.img2}` target="_blank" xt="SPCLICKSTREAM")
                                                                                        img(src="img/vast/star.png" alt="star" style="display:block; border:none; outline:none; text-decoration:none; width: 15px;")
                                                                                if stars === 1.5
                                                                                    -  stars = 0
                                                                                    td(width="15" align="left" valign="top" style="padding-right:3px;")
                                                                                        a(href=`${data.link2}` name=`star_${data.img2}` target="_blank" xt="SPCLICKSTREAM")
                                                                                        img(src="img/vast/half-star.png" alt="star" style="display:block; border:none; outline:none; text-decoration:none; width: 15px;")
                                                                        -var greyStars= 5-data.sterren2
                                                                            case greyStars
                                                                                when 2.5
                                                                                    td(width="15" align="left" valign="top" style="padding-right:3px;")
                                                                                        a(href=`${data.link2}` name=`star_${data.img2}` target="_blank" xt="SPCLICKSTREAM")
                                                                                            img(src="img/vast/grey-star.png" alt="star" style="display:block; border:none; outline:none; text-decoration:none; width: 15px;")
                                                                                    td(width="15" align="left" valign="top" style="padding-right:3px;")
                                                                                        a(href=`${data.link2}` name=`star_${data.img2}` target="_blank" xt="SPCLICKSTREAM")
                                                                                            img(src="img/vast/grey-star.png" alt="star" style="display:block; border:none; outline:none; text-decoration:none; width: 15px;")
                                                                                when 1.5
                                                                                  td(width="15" align="left" valign="top" style="padding-right:3px;")
                                                                                        a(href=`${data.link2}` name=`star_${data.img2}` target="_blank" xt="SPCLICKSTREAM")
                                                                                        img(src="img/vast/grey-star.png" alt="star" style="display:block; border:none; outline:none; text-decoration:none; width: 15px;")
                                                                                when 1
                                                                                  td(width="15" align="left" valign="top" style="padding-right:3px;")
                                                                                        a(href=`${data.link2}` name=`star_${data.img2}` target="_blank" xt="SPCLICKSTREAM")
                                                                                        img(src="img/vast/grey-star.png" alt="star" style="display:block; border:none; outline:none; text-decoration:none; width: 15px;")
                                                                                default
                                                                                    span
                                                        tr
                                                            td(align="left" valign="top" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:13px; line-height:17px; font-weight:bold; color:#0098DA; padding:0 0 5px 0; width: 135px;")
                                                                a(href=`${data.link2}` name=`text_${data.img2}` target="_blank" xt="SPCLICKSTREAM" style="color:#0098DA; text-decoration:none;") !{escTitle2}
                                                        tr
                                                            td(align="left" valign="top" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:20px; line-height:23px; font-weight:bold; color:#0098DA; padding:0px 0 20px 0;")
                                                                table(border="0" cellspacing="0" cellpadding="0" width="100%")
                                                                    tr
                                                                        td(align="left" valign="top" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:16px; line-height:23px; font-weight:bold; color:#0098DA;")
                                                                            a(href=`${data.link2}` name=`text_${data.img2}` target="_blank" xt="SPCLICKSTREAM" style="color:#000000; text-decoration:none;")
                                                                                span(style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-weight: bold; font-size: 13px; line-height: 19px; color: #999898; text-decoration: line-through; text-decoration: line-through;")=data.oldprice2
                                                                                span(style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-weight: bold; font-size: 13px; line-height: 19px; color: #D20000; text-decoration: line-through;  text-decoration: none; margin-left: 5px;")=data.percentage2
                                                                    tr    
                                                                        td(align="left" valign="top" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:16px; line-height:23px; font-weight:bold; color:#0098DA;")
                                                                            a(href=`${data.link2}` name=`text_${data.img2}` target="_blank" xt="SPCLICKSTREAM" style="color:#000000; text-decoration:none;")=data.price2
                                                                                
                                        table(align="left" width="300" border="0" cellspacing="0" cellpadding="0" class="table-full")
                                            tr
                                                td(align="left" valign="top")
                                                    table(width="140" border="0" cellspacing="0" cellpadding="0" class="w-98")
                                                        tr
                                                            td(align="center" valign="top" style="border: 2px solid #F3F3F3;")
                                                                a(href=`${data.link3}` name=`img_${data.img3}` target="_blank" xt="SPCLICKSTREAM")
                                                                    img(src=src=`img/${data.img3}.jpg` width="133" height="123" alt=`${data.img}` border="0" class="img-full" style="display:block;")
                                                        tr
                                                            td(align="center" valign="top" style="padding:5px 25px 7px 0;" height="15px")
                                                                table(align="left" border="0" cellspacing="0" cellpadding="0")
                                                                    tr
                                                                        - var stars= data.sterren3
                                                                            - for (i = 0.5; i <= stars; stars--) 
                                                                                td(width="15" align="left" valign="top" style="padding-right:3px;")
                                                                                    a(href=`${data.link3}` name=`star_${data.img3}` target="_blank" xt="SPCLICKSTREAM")
                                                                                        img(src="img/vast/star.png" alt="star" style="display:block; border:none; outline:none; text-decoration:none; width: 15px;")
                                                                                if stars === 1.5
                                                                                    -  stars = 0
                                                                                    td(width="15" align="left" valign="top" style="padding-right:3px;")
                                                                                        a(href=`${data.link3}` name=`star_${data.img3}` target="_blank" xt="SPCLICKSTREAM")
                                                                                        img(src="img/vast/half-star.png" alt="star" style="display:block; border:none; outline:none; text-decoration:none; width: 15px;")
                                                                        -var greyStars= 5-data.sterren3
                                                                            case greyStars
                                                                                when 2.5
                                                                                    td(width="15" align="left" valign="top" style="padding-right:3px;")
                                                                                        a(href=`${data.link3}` name=`star_${data.img3}` target="_blank" xt="SPCLICKSTREAM")
                                                                                            img(src="img/vast/grey-star.png" alt="star" style="display:block; border:none; outline:none; text-decoration:none; width: 15px;")
                                                                                    td(width="15" align="left" valign="top" style="padding-right:3px;")
                                                                                        a(href=`${data.link3}` name=`star_${data.img3}` target="_blank" xt="SPCLICKSTREAM")
                                                                                            img(src="img/vast/grey-star.png" alt="star" style="display:block; border:none; outline:none; text-decoration:none; width: 15px;")
                                                                                when 1.5
                                                                                  td(width="15" align="left" valign="top" style="padding-right:3px;")
                                                                                        a(href=`${data.link3}` name=`star_${data.img3}` target="_blank" xt="SPCLICKSTREAM")
                                                                                        img(src="img/vast/grey-star.png" alt="star" style="display:block; border:none; outline:none; text-decoration:none; width: 15px;")
                                                                                when 1
                                                                                  td(width="15" align="left" valign="top" style="padding-right:3px;")
                                                                                        a(href=`${data.link3}` name=`star_${data.img3}` target="_blank" xt="SPCLICKSTREAM")
                                                                                        img(src="img/vast/grey-star.png" alt="star" style="display:block; border:none; outline:none; text-decoration:none; width: 15px;")
                                                                                default
                                                                                    span
                                                        tr
                                                            td(align="left" valign="top" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:13px; line-height:17px; font-weight:bold; color:#0098DA; padding:0 0 5px 0; width: 135px;")
                                                                a(href=`${data.link3}` name=`text_${data.img3}` target="_blank" xt="SPCLICKSTREAM" style="color:#0098DA; text-decoration:none;") !{escTitle3}
                                                        tr
                                                            td(align="left" valign="top" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:20px; line-height:23px; font-weight:bold; color:#0098DA; padding:0px 0 20px 0;")
                                                                table(border="0" cellspacing="0" cellpadding="0" width="100%")
                                                                    tr
                                                                        td(align="left" valign="top" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:16px; line-height:23px; font-weight:bold; color:#0098DA;")
                                                                            a(href=`${data.link3}` name=`text_${data.img3}` target="_blank" xt="SPCLICKSTREAM" style="color:#000000; text-decoration:none;")
                                                                                span(style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-weight: bold; font-size: 13px; line-height: 19px; color: #999898; text-decoration: line-through; text-decoration: line-through;")=data.oldprice3
                                                                                span(style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-weight: bold; font-size: 13px; line-height: 19px; color: #D20000; text-decoration: none; margin-left: 5px;")=data.percentage3
                                                                    tr    
                                                                        td(align="left" valign="top" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:16px; line-height:23px; font-weight:bold; color:#0098DA;")
                                                                            a(href=`${data.link3}` name=`text_${data.img3}` target="_blank" xt="SPCLICKSTREAM" style="color:#000000; text-decoration:none;")=data.price3
                                                                                
                                                td(align="left" valign="top" class="td-right")
                                                    <!-- PRODUCT -->
                                                    table(width="140" border="0" cellspacing="0" cellpadding="0" class="w-98")
                                                        tr
                                                            td(align="center" valign="top" style="border: 2px solid #F3F3F3;")
                                                                a(href=`${data.link4}` name=`img_${data.img4}` target="_blank" xt="SPCLICKSTREAM")
                                                                    img(src=src=`img/${data.img4}.jpg` width="133" height="123" alt=`${data.img}` border="0" class="img-full" style="display:block;")
                                                        tr
                                                            td(align="center" valign="top" style="padding:5px 25px 7px 0;" height="15px")
                                                                table(align="left" border="0" cellspacing="0" cellpadding="0")
                                                                    tr
                                                                        - var stars= data.sterren4
                                                                            - for (i = 0.5; i <= stars; stars--) 
                                                                                td(width="15" align="left" valign="top" style="padding-right:3px;")
                                                                                    a(href=`${data.link4}` name=`star_${data.img4}` target="_blank" xt="SPCLICKSTREAM")
                                                                                        img(src="img/vast/star.png" alt="star" style="display:block; border:none; outline:none; text-decoration:none; width: 15px;")
                                                                                if stars === 1.5
                                                                                    -  stars = 0
                                                                                    td(width="15" align="left" valign="top" style="padding-right:3px;")
                                                                                        a(href=`${data.link4}` name=`star_${data.img4}` target="_blank" xt="SPCLICKSTREAM")
                                                                                        img(src="img/vast/half-star.png" alt="star" style="display:block; border:none; outline:none; text-decoration:none; width: 15px;")
                                                                        -var greyStars= 5-data.sterren4
                                                                            case greyStars
                                                                                when 2.5
                                                                                    td(width="15" align="left" valign="top" style="padding-right:3px;")
                                                                                        a(href=`${data.link4}` name=`star_${data.img4}` target="_blank" xt="SPCLICKSTREAM")
                                                                                            img(src="img/vast/grey-star.png" alt="star" style="display:block; border:none; outline:none; text-decoration:none; width: 15px;")
                                                                                    td(width="15" align="left" valign="top" style="padding-right:3px;")
                                                                                        a(href=`${data.link4}` name=`star_${data.img4}` target="_blank" xt="SPCLICKSTREAM")
                                                                                            img(src="img/vast/grey-star.png" alt="star" style="display:block; border:none; outline:none; text-decoration:none; width: 15px;")
                                                                                when 1.5
                                                                                  td(width="15" align="left" valign="top" style="padding-right:3px;")
                                                                                        a(href=`${data.link4}` name=`star_${data.img4}` target="_blank" xt="SPCLICKSTREAM")
                                                                                        img(src="img/vast/grey-star.png" alt="star" style="display:block; border:none; outline:none; text-decoration:none; width: 15px;")
                                                                                when 1
                                                                                  td(width="15" align="left" valign="top" style="padding-right:3px;")
                                                                                        a(href=`${data.link4}` name=`star_${data.img4}` target="_blank" xt="SPCLICKSTREAM")
                                                                                        img(src="img/vast/grey-star.png" alt="star" style="display:block; border:none; outline:none; text-decoration:none; width: 15px;")
                                                                                default
                                                                                    span
                                                        tr
                                                            td(align="left" valign="top" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:13px; line-height:17px; font-weight:bold; color:#0098DA; padding:0 0 5px 0; width: 135px;")
                                                                a(href=`${data.link4}` name=`text_${data.img4}` target="_blank" xt="SPCLICKSTREAM" style="color:#0098DA; text-decoration:none;") !{escTitle4}
                                                        tr
                                                            td(align="left" valign="top" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:20px; line-height:23px; font-weight:bold; color:#0098DA; padding:0px 0 20px 0;")
                                                                table(border="0" cellspacing="0" cellpadding="0" width="100%")
                                                                    tr
                                                                        td(align="left" valign="top" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:16px; line-height:23px; font-weight:bold; color:#0098DA;")
                                                                            a(href=`${data.link4}` name=`text_${data.img4}` target="_blank" xt="SPCLICKSTREAM" style="color:#000000; text-decoration:none;")
                                                                                span(style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-weight: bold; font-size: 13px; line-height: 19px; color: #999898; text-decoration: line-through; text-decoration: line-through;")=data.oldprice4
                                                                                span(style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-weight: bold; font-size: 13px; line-height: 19px; color: #D20000;  text-decoration: none; margin-left: 5px;")=data.percentage4
                                                                    tr    
                                                                        td(align="left" valign="top" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:16px; line-height:23px; font-weight:bold; color:#0098DA;")
                                                                            a(href=`${data.link4}` name=`text_${data.img4}` target="_blank" xt="SPCLICKSTREAM" style="color:#000000; text-decoration:none;")=data.price4
