mixin promo-2cat(data)
    - var escTitle = data.title
    <!-- PROMO'S -->
    table(width="100%" border="0" cellspacing="0" cellpadding="0" class="table-wrapper" bgcolor="#FFFFFF")
        tr
            td(align="center" valign="top" class="td-padding-outer")
                table(width="100%" border="0" cellspacing="0" cellpadding="0" class="table-wrapper" bgcolor="#FFFFFF")
                    tr
                        td(align="center" valign="top")
                            table(width="600" border="0" cellspacing="0" cellpadding="0" class="table-full" bgcolor="#FFFFFF")
                                tr
                                    td(align="left" valign="top" class="td-padding-inner" style="padding:0px 0px 5px 0px;")
                                        table(width="100%" border="0" cellspacing="0" cellpadding="0")       
                                            tr
                                                td(align="left" valign="top" style="padding-bottom: 25px;")
                                                    //- Blokje elektro
                                                    table(align="left" width="48%" border="0" cellspacing="0" cellpadding="0" class="table-full")
                                                        tr
                                                            td(align="left" valign="top" style="padding-bottom: 25px;")
                                                                a(href=`${data.link}` name=`img_${data.img}` target="_blank" xt="SPCLICKSTREAM" style="color:#0098da; text-decoration:none;")
                                                                    table(width="100%" border="0" cellspacing="0" cellpadding="0" class="h-170" style="padding: 25px 0 25px 0; border: 4px solid #E1E4E5;")
                                                                        tr
                                                                            td(align="center" valign="middle")
                                                                                table(width="100%" border="0" cellspacing="0" cellpadding="0" class="w-65 td-center" align="right")
                                                                                    tr
                                                                                        td(align="center" valign="middle" class="px-0" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:24px; line-height:25px; font-weight: bold; padding:25px 15px 15px 15px; color:#CE0000;") 
                                                                                            span=data.voorvoegsel
                                                                                                span(style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:45px; line-height:22px; font-weight: bold;")=data.procent
                                                                                                p(class="mobile-title" style="margin:10px 0 0 0;font-size:20px; color: #333333;") !{escTitle}
                                                                                                    
                                                                                table(width="100%" border="0" cellspacing="0" cellpadding="0" class="w-34 td-center" align="left")
                                                                                    tr
                                                                                        td(align="center" valign="middle" style="padding: 20px 0 30px 0;" class="px-0")
                                                                                            img(src=`img/${data.img}.jpg` alt=`${data.img}` width="230" height="160"  border="0" class="img-full" style="display:block;")
                                                                                table(width="100%" border="0" cellspacing="0" cellpadding="0" class="w-65 td-center" align="right")
                                                                                    tr
                                                                                        td(align="left" valign="middle" class="px-0" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:20px; line-height:23px; font-weight:bold; color:#0098DA; padding:0px 25px 20px 25px;")
                                                                                            table(border="0" cellspacing="0" cellpadding="0" width="100%")
                                                                                                tr
                                                                                                    td(align="left" valign="middle" class="pb-0 pt-5")
                                                                                                        table(width="100%" border="0" cellspacing="0" cellpadding="0" class="table-full" style="display: inline;")
                                                                                                            tr
                                                                                                                td(align="left" valign="middle" width="16" style="padding-right:10px;")
<<<<<<< Updated upstream
                                                                                                                    img(src="https://www.collishop.be/ecomwcs/static/StaticWeb/CS/mailbanners/images/arrow.png" width="16" height="16" alt="Pijl" border="0" style="display:block;" )
                                                                                                                td(class="assortiment" align="center" valign="top" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:16px; line-height:20px; color:#0098DA; display: inline; padding-left:12px;")=data.cta     
=======
                                                                                                                    img(src="img/vast/arrow.png" width="16" height="16" alt="Pijl" border="0" style="display:block;" )
                                                                                                                td(class="assortiment" align="center" valign="top" style="font-family: Titillium Web,Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:16px; line-height:20px; color:#0098DA; display: inline; padding-left:12px;")=data.cta     
>>>>>>> Stashed changes
                                                    //- Blokje barbecue                          
                                                    table(align="right" width="48%" border="0" cellspacing="0" cellpadding="0" class="table-full")
                                                        tr
                                                            td(align="left" valign="top")
                                                                a(href=`${data.link2}` name=`img_${data.img}` target="_blank" xt="SPCLICKSTREAM" style="color:#0098DA; text-decoration:none;")
                                                                    table(width="100%" border="0" cellspacing="0" cellpadding="0" class="h-170" style="padding: 30px 0 25px 0; border: 4px solid #E1E4E5;")
                                                                        tr
                                                                            td(align="center" valign="middle")
                                                                                table(width="100%" border="0" cellspacing="0" cellpadding="0" class="w-65 td-center" align="right")
                                                                                    tr
                                                                                        td(align="center" valign="middle" class="px-0" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:24px; line-height:25px; font-weight: bold; padding:25px 15px 15px 15px; color:#CE0000;") 
                                                                                            span=data.voorvoegsel2
                                                                                                span( style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:45px; line-height:22px; font-weight: bold;")=data.procent2
                                                                                                p(class="mobile-title" style="margin:10px 0 0 0;font-size:20px; color: #333333;")=data.title2
                                                                                                
                                                                                table(width="100%" border="0" cellspacing="0" cellpadding="0" class="w-34 td-center" align="left")
                                                                                    tr
                                                                                        td(align="center" valign="middle" style="padding: 30px 0 20px 0;" class="px-0")
                                                                                            img(src=`img/${data.img2}.jpg` alt=`${data.img2}` width="230" height="160" border="0" class="img-full" style="display:block;")
                                                                                table(width="100%" border="0" cellspacing="0" cellpadding="0" class="w-65 td-center" align="right")
                                                                                    tr
                                                                                        td(align="left" valign="middle" class="px-0" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:20px; line-height:23px; font-weight:bold; color:#0098DA; padding:0px 25px 20px 25px;")
                                                                                            table(border="0" cellspacing="0" cellpadding="0" width="100%")
                                                                                                tr
                                                                                                    td(align="left" valign="middle" class="pb-0 pt-5")
                                                                                                        table(width="100%" border="0" cellspacing="0" cellpadding="0" class="table-full" style="display: inline;")
                                                                                                            tr
                                                                                                                td(align="center" valign="middle" width="16" style="padding-right:10px;")
<<<<<<< Updated upstream
                                                                                                                    img(src="https://www.collishop.be/ecomwcs/static/StaticWeb/CS/mailbanners/images/arrow.png" width="16" height="16" alt="Pijl" border="0" style="display:block;" )
                                                                                                                td(class="assortiment" align="center" valign="top" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:16px; line-height:20px; color:#0098DA; display: inline; padding-left:12px;")=data.cta2
=======
                                                                                                                    img(src="img/vast/arrow.png" width="16" height="16" alt="Pijl" border="0" style="display:block;" )
                                                                                                                td(class="assortiment" align="center" valign="top" style="font-family: Titillium Web,Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:16px; line-height:20px; color:#0098DA; display: inline; padding-left:12px;")=data.cta2
>>>>>>> Stashed changes
